{% layout 'layout.liquid'%}
{% block content %}
<div class="container-sm">
        <form action="/fruits/{{ fruit.id }}/?_method=PUT" method="POST">
            <fieldset>
                <legend>EDIT NEW FRUIT</legend>
                <label class="form-label">Name:</label> 
                    <input 
                        type="text" 
                        name="name"
                        placeholder="enter fruit name"
                        value={{ fruit.name }}
                        class="form-control"
                        >
                <label class="form-label">Color:</label> 
                    <input 
                        type="text" 
                        name="color"
                        placeholder="enter color name"
                        value={{ fruit.color }}
                        class="form-control"
                        >
                
                <label class="form-label">Ready To Eat:</label>
                    <input 
                        type="checkbox" 
                        name="readyToEat"
                        class="form-check-input"
                        {% if fruit.readyToEat %}
                            checked
                        {% endif %}
                        >
                
            </fieldset>
            <input 
                type="submit" 
                value="Edit This {{ fruit.name }}"
                class="btn btn-success">
        </form>
    </div>
{% endblock %}