{% layout 'layout.liquid'%}
{% block content %}
    <div class="container-sm">
        <form action="/fruits" method="POST">
            <fieldset>
                <legend>CREATE NEW FRUIT</legend>
                <label class="form-label">Name:</label> 
                    <input 
                        type="text" 
                        name="name"
                        placeholder="Enter fruit name"
                        class="form-control"
                        >
               
                <label> Color:</label> 
                    <input 
                        type="text" 
                        name="color"
                        placeholder="Enter fruit color"
                        class="form-control"
                        >
        
                <label>Ready To Eat:</label>
                    <input 
                        type="checkbox" 
                        name="readyToEat"
                        class="form-check-input"
                        >
                
            </fieldset>
            <input 
                type="submit" 
                value="CREATE NEW FRUIT">
        </form>
    </div>
{% endblock %}